* {
    background-color: #000a1f;
}


.text{
    color: white;
}

.cent{
    text-align: center;
}

.font{
    font-size: 20px;
}

img{
    height: 200px;
    width: 200px;
    border: solid rgba(172, 153, 153, 0.522);
    border-radius: 50%;
    transition: all ease-in-out 0.5s;
}

img:hover{
    height: 350px;
    width: 350px;
}

.color{
    color: green;
}

.center {
    text-align: center;
}